<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Emoji_StackView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D9E2C68C1D791BD500479BA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9E2C6A01D791BD600479BA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9E2C6AB1D791BD600479BA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
